@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.about {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around !important;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 77vh;
    height: auto;
    width: 100vw;
    margin: 0 auto;
    
}

.titulos {
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
}

.textoabout {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 16px !important;
}

.colorabout1 {
    color: rgb(252, 252, 252);
    display: inline;

}

.overlay {
    border-radius: 10px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 48px !important;
}

.vol {
    display: block;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 11;
    box-shadow: 0px 0px 10px 1px orange;
    margin-left: 220px;
}

@media screen and (max-width: 600px) {
    .about {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: auto;
        padding-top: 45px;
        width: 100%;
    } 
    
    .overlay {
        width: 80% !important;
        height: auto;
        font-size: 16px !important;
        margin-top: 5px;
        margin-left: auto;
    }

    .textoabout {
        font-size: 18px !important;
        width: 85%;
    }

    .vol {
        max-width: 300px;
        max-height: 250px;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .h11 {
        display: none;
    }
}


@media screen and (min-width: 1600px) {
    .about {
        height: 84.9vh !important;
        
    } 
    
   
}
