@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.about{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around !important;
    flex-direction: row-reverse;
    align-items: center;
    height: 80vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.titulos{
    font-family: "Glass Antiqua", cursive;
    font-weight: 400;
    font-style: normal;
}
.textoabout{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 23px !important;
}
.colorabout1{
  color: rgb(252, 252, 252);
  display: inline;
}
.overlay {
    border-radius: 10px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: auto;
    width: 500px !important;
    margin: 0 auto;
    width: 90%;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    font-size: 48px !important;
}


.vol{
    height: 700px;
    box-shadow: 0px 0px 10px 1px orange;
    margin-left: 220px;
}

@media screen and (max-width: 600px) {

    .about{
        flex-direction: column-reverse;
        height: 100%;
        padding-top: 45px;
    } 
    .overlay{
        width: 80% !important;
        height: auto;
        font-size: 16px !important;
        margin-top: 5px;
       
    }
    .textoabout{
        font-size: 18px !important
    }
    .vol{
        max-width: 300px;
        max-height: 250px;
        border-radius: 15px;
        margin-left: 0;
    }
    .h11{
        display: none;
    }
}
