.give{
    background-image: url('../Images/Generosidade.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 77vh;
    background-color: black;
}
.buttongiv{
    position: absolute;
    bottom: 100px;
    left: 22vw;
    height: 70px;
    width: 350px;
    border: 1px solid white;
    border-radius: 10px;
}

.buttongiv:hover{
    background-color: aliceblue;
    color: black;
}
@media screen and (max-width: 600px) {
    .buttongiv{
        position: absolute;
        bottom: 100px;
        height: 70px;
        left: 0;
        width: 100%;
        border: 1px solid white;
        border-radius: 10px;
    }
    .give{
        height: 83.5vh;
    }
}