.home {
    background-color: black;
    height: 82vh;
}
video{
    width: 100vw;
    height: 80vh;
}

.esconde{
    display: none;
}

.homecell{
    object-fit: cover;
    position: absolute;
    top: 103px;
    left: 0;
    width: 100%;
    height: 80%;
}