.home {
    background-color: black;
    height: 76.6vh;
}
.homepc{
    width: 100vw;
    height: 100%;
}

.esconde{
    display: none;
}

.homecell{
    object-fit: contain;
    width: 100%;
    height: 80.9vh !important;

}

.homecell1{
    width: 100%;
    height: auto !important;
    background-color: black;
}

#root, #raiz{
    height: 100%;
}


