.homepc1 {
    background-color: black;
    max-width: 100%;
    height: auto;
    display: block;
}
.homepc{
    background-color: black;
    max-width: 100%;
    display: block;
    height: 77vh;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;

}

.esconde{
    display: none;
}

.homecell{
    display: flex;

}

.homecell1{
    background-color: black;
    height: 80vh !important;
}

#root, #raiz{
    height: 80%;
}
 #raiz{
    background-color: black;

}

@media screen and (max-width: 600px) {
    #root{
        display: flex;
        flex-direction: column;
        height: 70% !important
    }
    .homecell{
        background-color: black;
        height: 100% !important;
        width: 100vw;
        margin: auto;
  
    }
    
    .homecell1{
        background-color: black;
        height: 84% !important;
        width: 100% !important;
        
    }
    
}
@media screen and (min-width: 1600px) {
    .homepc1 {
        height: 84.9vh !important;

    } 
    
   
}